/******************************************************************************
 * Login template
 */
.login {

}

.login > div {
  text-align: center;
  vertical-align: middle;
}

.login > div > div {
  max-width: 200px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
