/******************************************************************************
 * Talk template
 */
.talk-message > div {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 5px 5px 5px;
  margin: 0 0 0 0;

  border-style: solid;
  border-color: #E4E4E4;
  border-width: 1px 0px 0px 0px;

  width: 100%;

  font-size: 1rem;
}

.talk-message > div:first-child {
  width: 32px;
  height: 32px;

  color: #FFFFFF;

  border-width: 0px 1px 0px 0px;
  border-style: solid;

  text-align: center;
  font-size: 1.1rem;
}

/* The button with three dots */
.talk-message > div:last-child {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.talk-extra-info {
  cursor: pointer;
  display: inline-block;
  min-width: 15px;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #E0E1E2;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  text-transform: none;
  text-shadow: none;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;

  position: relative;;
  bottom: 0px;
}

.talk-extra-info:hover {
  background: #CACBCD;
}

/* Talk template. Message notification */
.talk-message > div.notification {
  background-color: #5ABB7B;
  border-color: #449D44;
}

.talk-add-message > form {
  padding: 5px 5px 5px 5px;
  background-color: rgba(0, 0, 0, 0.0470588);
}

.talk-add-message:first-child {
  margin-left: 5px;
}
